body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;

  color: #364153;
}

#root {
  max-width: 430px;
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
}
