name: Backend CI
on:
  pull_request:
    branches:
      - be/dev
      - be/prod
      - be/feat/**
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"

  push:
    branches:
      - be/dev
      - be/prod
    paths:
      - "backend/**"

jobs:
  check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: gradle

      - name: Compile Check
        run: ./gradlew compileJava compileTestJava

      - name: Check Application Properties
        run: ./gradlew bootJar --dry-run

      - name: Run Tests
        run: ./gradlew test

